<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Scrabble :: {{ game.name|escape }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/scrabble.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/scrabble.js"></script>
  </head>
  <body>
    <div id="game">
      <canvas id="canvas" width="600" height="580">Your browser does not
        support canvas. Upgrade to a
        <a href="http://www.mozilla.com/en-US/firefox/new/">modern</a>
        <a href="http://www.google.com/chrome/">browser</a>.
      </canvas>
      <div id="other-wrapper">
        <div id="chatarea-wrapper">
          <div id="chatarea"></div>
          <form method="post" action="#" onsubmit="return(post_chat())">
            <input id="chatarea-input" type="text" name="message" />
          </form>
        </div>
        <div id="other">
          <div id="current-player"></div>
          <ul id="actions" class="action-list"></ul>
          <ul id="generic-actions" class="action-list"></ul>
          <form id="dictionary" method="post" action="#" onsubmit="return(word_in_dictionary())">
            <label for="dictionary-word">Dictionary</label>
            <input id="dictionary-word" type="text" name="word" />
            <span id="dictionary-status"></span>
          </form>
          <ol id="players"></ol>
        </div>
      </div>
    </div>
    <div id="footnote">
      Created by <a href="http://people.cs.uct.ac.za/~ksmith/">Keegan Carruthers-Smith</a> 2011
      <a href="https://bitbucket.org/keegan_csmith/scrabble">[SRC]</a>
    </div>
    <script type="text/javascript">
      init({
         immutable_state: "{% url game-immutable-state game.id %}",
         state: "{% url game-state game.id %}",
         play: "{% url game-play game.id %}",
         chat: "{% url game-chat game.id %}",
         notification: "{% url game-notification game.id %}",
         word_in_dictionary: "{% url word-in-dictionary game.id %}"
      });
    </script>
  </body>
</html>
