<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Scrabble :: {{ game.name|escape }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}scrabble.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scrabble.js"></script>
  </head>
  <body>
    <div id="game">
      <canvas id="canvas" width="600" height="580"></canvas>
      <div id="other">
        <div id="current-player"></div>
        <ul id="actions" class="action-list"></ul>
        <ul id="generic-actions" class="action-list"></ul>
        <form id="dictionary" method="post" action="#" onsubmit="return(word_in_dictionary())">
          <label for="dictionary-word">Dictionary</label>
          <input id="dictionary-word" type="text" name="word" />
          <span id="dictionary-status"></span>
        </form>
        <ol id="players"></ol>
      </div>
    </div>
    <div id="footnote">
      Created by <a href="http://people.cs.uct.ac.za/~ksmith/">Keegan Carruthers-Smith</a> 2011
      <a href="https://bitbucket.org/keegan_csmith/scrabble">[SRC]</a>
    </div>
    <script type="text/javascript">
      init({{ game.id }});
    </script>
  </body>
</html>
