#game {
    text-align: center;
}

#other {
    margin: 0 auto;
    padding-top: 0;
    width: 600px;
    text-align: center;
}

#canvas {
    padding: 0;
    margin: 0 auto;
    outline: none;
}

#current-player {
    margin-top: 0;
}

.action-list, #players {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.action-list li a {
    text-decoration: none;
}

.action-list li a:hover {
    text-decoration: underline;
}

.action-list li, #players li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#footnote {
    padding-top: 50px;
    text-align: right;
}

#other-wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 0;
}

#chatarea-wrapper {
    float: left;
    width: 300px;
}

#chatarea-wrapper form {
    width: 100%;
}

#chatarea-input {
    width: 100%;
}

#chatarea {
    text-align: left;
    overflow: auto;
    height: 120px;
}
