#game {
    text-align: center;
}

#other {
    margin: 0 auto;
    padding-top: 0;
    width: 600px;
    text-align: center;
}

#canvas {
    padding: 0;
    margin: 0 auto;
}

#current-player {
    margin-top: 0;
}

.action-list, #players {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}

.action-list li a {
    text-decoration: none;
}

.action-list li a:hover {
    text-decoration: underline;
}

.action-list li, #players li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

#dictionary {
    clear: both;
}

#footnote {
    text-align: right;
}
